body {
    background-color: lightblue !important;
}
.password-css{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    border: 1px solid #1d2124;
    height: 50px;
    background: #ffffff;
    border-radius: 26px;
}
.card-body{
    margin-top: 65px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 835px;
    background: #ffffff;
    border-radius: 26px;
}
